{% extends 'base.html' %}

{% block content %}
    <h1>Bienvenue, {{ current_user.email }} !</h1>

    <label for="start">Start date:</label>

    <input type="date" id="start" name="trip-start" value="today">

    <form action="" method="post" class="d-flex" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.food.label }}<br>
            {{ form.food(size=32) }}<br>
            {% for error in form.food.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div style="">{{ form.submit(class_="btn btn-success", style="margin-top: 1em") }}</div>
    </form>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Scanner un code barre
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Scanner un code barre</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="barcode-scan-div" class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>
        </div>
    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}